
* {
  margin: 0;
  padding: 0;
  
}

body {
display: block;
}

#top-bar{
font-size: 1 rem;
display: flex;
flex-direction: column;
align-items: center;
padding: 15px 0px 15px 0px;
background-color: #D51AA3;
color: #FFFFFF;
margin-bottom: 50px;
}

nav{
display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25%;
  top: 25%;
  position: fixed;
  padding: 5px 10px 10px 5px;
  background-color: #D51AA3;
  border: 1px solid #FFFFFF;
  z-index: 1000;
  opacity: 0.5; 
}

.fa-chevron-circle-up{
color: white;
}

.fa-chevron-circle-down{
color:white;
}

#main-grid {
max-width: 1100px;
margin: 0px auto;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
grid-gap: 1.5rem;
z-index: 10;

}


.image-with-caption{
  object-fit: cover;
  display: center;
  position: relative;
 align-items: center;
width: 300px;
}


img {
width: 300px;
height:300px;
object-fit:cover;
}


figcaption {
  padding: 10px 0 10px 0;
  font-size: 1.2em;
  text-align: center;
  display: block;
}

footer{
padding: 15px;
font-size: 1rem;
background-color: #D51AA3;
color: #FFFFFF;
display: flex;
flex-direction: column;
align-items: center;
margin-top: 50px;
}

img:hover{
width:320px;
transition-timing-function: ease-in;
}

